@import "tailwindcss";

@theme {
  --color-luxury-black: #000000;
  --color-luxury-white: #ffffff;
  --color-luxury-gray: #1a1a1a;
  --color-border-subtle: rgba(255, 255, 255, 0.1);
  
  --font-display: var(--font-geist-sans);
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@layer base {
  html {
    scroll-padding-top: 80px;
  }
  
  * {
    border-color: rgba(255, 255, 255, 0.1);
  }
  
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased selection:bg-white selection:text-black;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Scrollbar for Luxury Feel */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@utility masked-img {
    mask-image: url("/images/scissors.png");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 50%;
}
 .cocktail-img {
            @apply md:w-[60vw] w-full h-[50vh] md:h-[70vh] rounded-4xl overflow-hidden absolute top-0 md:top-1/2 md:-translate-y-1/2 left-1/2 -translate-x-1/2;
        }
